body {
    background-image: url('https://cdn.24.co.za/files/Cms/General/d/7353/214eec06ad7d4ed5ac6c57392a791d05.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }